<div class="rpgui-content">
  <div class="rpgui-container framed">
    <h1>Town Page</h1>
    <hr class="golden" />
    <div *ngIf="currentPosition$ | async as currentPosition">
      {{ currentPosition.id }}
    </div>

    <button class="rpgui-button" routerLink="travel">
      {{ "ui.navigation.buttons.travel" | translate }}
    </button>

    <button class="rpgui-button">{{ "ui.navigation.buttons.shop" | translate }}</button>
    <button class="rpgui-button" routerLink="guild">
      {{ "ui.navigation.buttons.guild" | translate }}
    </button>
    <button class="rpgui-button">
      {{ "ui.navigation.buttons.tavern" | translate }}
    </button>
    <button class="rpgui-button" routerLink="start">
        {{ "ui.navigation.buttons.start" | translate }}
    </button>
  </div>
</div>
