.wrapper {
  background-color: bisque;
  width: 100%;
  display: flex;
}

.sidebar-container {
  background-color: aqua;
  height: 100vh;
  width: 20%;
}

.main-container {
  background-color: coral;
  height: 100vh;
  width: 80%;
}
