<div class="menu">
  <ul>
    <li>
      <button class="rpgui-button" routerLink="/travel">
        {{ "ui.navigation.buttons.travel" | translate }}
      </button>
    </li>
    <li>
      <button class="rpgui-button">{{ "ui.navigation.buttons.shop" | translate }}</button>
    </li>
    <li>
      <button class="rpgui-button">
        {{ "ui.navigation.buttons.tavern" | translate }}
      </button>
    </li>
    <li>
      <button class="rpgui-button" routerLink="/guild">
        {{ "ui.navigation.buttons.guild" | translate }}
      </button>
    </li>
    <li>
      <button class="rpgui-button" routerLink="/start">
        {{ "ui.navigation.buttons.start" | translate }}
      </button>
    </li>
    <li>
      <button class="rpgui-button">
        Character Settings
      </button>
    </li>
    <li>
      <button class="rpgui-button">
        Settings
      </button>
    </li>
    <li>
      <button class="rpgui-button">
        Exit
      </button>
    </li>
  </ul>
</div>








