<div class="world-map-wrapper rpgui-container framed" style="overflow: hidden">
  <div
    class="world-map"
    [ngStyle]="{
      'background-position': -mapOffset.x + 'px ' + -mapOffset.y + 'px'
    }"
  ></div>
  <div
    class="map-poi"
    *ngFor="let target of targets"
    [ngStyle]="{
      left: target.position.x * (1600 / 30) - 10 - mapOffset.x + 'px',
      top: (22 - target.position.y) * (1200 / 22) + 10 - mapOffset.y + 'px'
    }"
    (click)="onTravelTo(target)"
  ></div>
  <div
    class="map-poi current-pos"
    *ngIf="currentWorldPosition$ | async as cp"
    [ngStyle]="{
      left: cp.position.x * (1600 / 30) - 10 - mapOffset.x + 'px',
      top: (22 - cp.position.y) * (1200 / 22) + 10 - mapOffset.y + 'px'
    }"
  ></div>
</div>
